<!DOCTYPE html>
<html>
<head>
    <title>Enter Parameters</title>
</head>
<body>
    <h1>Enter information for the new flight</h1>
    <form action="/flights" method="POST">
        <label for="flight_ID">flight ID:</label>
        <input type="text" id="flight_ID" name="flight_ID" required><br><br>

        <label for="Arrival">Arrival:</label>
        <input type="time" id="Arrival" name="Arrival" required><br><br>

        <label for="Departure">Departure:</label>
        <input type="time" id="Departure" name="Departure" required><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>